*{
	margin: 0;
	padding: 0;
}

body{
	background:red;
	color:white;
}

.my-column{
	background: black;
	text-align: center;
	min-height: 100px;
	margin-bottom: 30px;
}


.fancy-link{
	background-image: linear-gradient(90deg,red,blue);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	text-decoration: none;
	font-weight: 900;
	transition: background-size 300ms ease;
}

.fancy-link:hover{
	background-size: 100% 3px;

}